{% load static %}
{% load crispy_forms_tags %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/sketchy/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <title>Task Manager - Completed Assigned Task</title>
  </head>

  <br>
  <div class="container bg-white shadow-md p-5 form-layout">
    <h2>TASK COMPLETED</h2>
    <hr>
    <br>
    <form method="POST" autocomplete="off">
      {% csrf_token %}
        <p>ARE YOU SURE THAT YOU HAVE COMPLETD THIS TASK!</p>
        <br>
        <a href="{% url 'assign-dashboard' %}" class="btn btn-danger me-2">NO, SORRY</a>
      <input class="btn btn-outline-success ms-2" type="submit" value="YES, DELETE" />
    </form>
  </div>
</html>
