{% load static %}
{% load crispy_forms_tags %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/sketchy/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <title>Task Manager - Update Assigned Task</title>
  </head>

  <br>
  <div class="container bg-white shadow-md p-5 form-layout">
    <h2>UPDATE ASSIGNED TASK</h2>
    <hr>
    <br>
    <form method="POST" autocomplete="off">
      {% csrf_token %}
      {{form.title|as_crispy_field}}
      <br>
      {{form.content|as_crispy_field}}
      <br>
      {{ form.deadline|as_crispy_field }} 
      <br>
      {{ form.assigned_to|as_crispy_field }} 
      <br>
      {{ form.assigned_by|as_crispy_field }} 
      <br>

      <input class="btn btn-outline-success ms-2" type="submit" value="Update" />
    </form>
  </div>
</html>
